<!-- chỉ hiện phân trang khi có tổng số trang lớn hơn 0 -->
<% if(totalPage > 0) { %>   
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <!-- FIRST ITEM -->
            <% if(page==1) { %>
                <!-- Nếu thông số http://localhost:3000/user-management?page=1 là 1 thì First sẽ bị disabled -->
                <li class="page-item disabled">
                    <a class="page-link" href="/">First</a>
                </li>
            <% } else { %>
                <!-- Nếu thông số http://localhost:3000?page=2/ từ 2 trở lên thì First sẽ bỏ disabled -->
                <li class="page-item">
                    <a class="page-link" href="?page=1&pagesize=<%=pagesize%>">First</a>
                </li>
            <% } %>

            <!-- ITEMS  -->
            <% var i=(Number(page)> 3 ? Number(page) - 2 : 1) %>
            <!-- Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 > -->
            <!-- Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
            <% if(i !==1) { %>
                <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            <% } %>
            <% for(; i <=(Number(page) + 2) && i <=totalPage; i++) { %>
                <!-- Sử dụng vòng lặp để lặp qua từng trang và tăng số trang  -->
                <!-- Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
                <% if(i==page) { %>
                    <li class="page-item active">
                        <a class="page-link" href="?page=<%= i %>&pagesize=<%=pagesize%>">
                            <%= i %>
                        </a>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= i %>&pagesize=<%=pagesize%>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>
                <% if (i==Number(page) + 2 && i < totalPage) { %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li>
                <% } %>
            <% } %>

            <!-- LAST ITEM -->
            <% if(page==totalPage) { %>
                <!-- Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        Last
                    </a>
                </li>
            <% } else { %>
                <!-- Ngược lại, thì Last là trang cuối cùng totalPage ở đây là 6 đồng nghĩa với Last là trang số 6 -->
                <li class="page-item">
                    <a class="page-link"
                        href="?page=<%= totalPage %>&pagesize=<%=pagesize%>">
                        Last
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
<% } %>